<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
 
</head>
<body>

    <div id="titleContainer"> 
        <div class="title"> ~ My ToDo List ~ </div> 
    </div> 

    <div id="main">      
        
        <div id="uinput" class="container" >
                <div id="uinputCheckAll"  title="Select all">
                    <input type="checkbox" id="checkAll" v-model="selectAll" > 
                </div>

                <div id="uinputBox"> 
                    <input :disabled="activate == 1 ? true : false " v-model="userInput"  type="text" placeholder="Enter an item" class="userinput" v-on:keyup.enter="add(userInput)" >   
                </div>
               
                <div id="uinputDropdown">
                        <div class="dropdown">
                                <button class="dropbtn"> Options </button>
                                <div class="dropdown-content">                             
                                  <a href="#" @click="showAll" class="b"> Show All </a>
                                  <a href="#" @click="unselectAll" class="b"> Unselect All </a>
                                  <a href="#" @click="deleteSelected" class="b"> Delete Selected </a>
                                  <a href="#" @click="deleteAll" class="b"> Delete All </a>
                                  <a href="#" @click="showUnchecked" class="b"> Show Incomplete Tasks </a>
                                  <a href="#" @click="showChecked" class="b"> Show Completed Tasks </a>
                                  <a href="#" @click="orderASC" class="b"> Sort A to Z </a>
                                  <a href="#" @click="orderDESC" class="b"> Sort Z to A </a>
                                </div>
                        </div>        
                </div>  <!-- end of uinputDropdown -->     

        </div>  <!-- end of uinput  v-if="item.show === true"-->

        <ul  class="item container" v-for="item in items" :key="item.key" v-if="item.show === true" >                  
                <div class="itemradiotext" >  
                        <input type="checkbox"  v-model="checked" :value="item.key">  
                        <label :for="item.key" class="strikethrough" >  {{ item.name }}  </label>                     
                </div>              
                <div class="itemtrash"  @click="del(item.key)"> <i class="fa fa-trash" ></i>  </div>
        </ul> 
        
        
    </div>    <!-- end of main -->


    <script src="main.js"></script>

</body>
</html>


